.jumbotron {
    /* background-image: url("water.jpg"); */
    color: #ffffff;
    padding: 100px 25px;
}
.form-inline .form-group {
  margin-right:40px !important;
}
.cback {
  background-color: rgb(55, 9, 71); 
}
.xback {
  background-color: rgb(255, 255, 255); 
}

.bg-grey {
    background-color: #746868;
    color: #ffffff;
    padding: 60px 50px;
  }

  .container-fluid {
    padding: 60px 50px;
  }
  .card {
    width: 18rem;
    padding: 20px;
    border: darkgrey 1;
    margin: 10px;
  }


  
  .cmasthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: url("bg-pattern.png"), #7b4397;
    background: url("bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
  }
  
  .cmasthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
    opacity: 1;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    color:rgb(255, 255, 255);

  }
  
  .cmasthead .header-content h1 {
    font-size: 70px;
    text-align: center;
    opacity: 1;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    color:rgb(255, 255, 255);


  }
  .con {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  }
  .gradient {
    background: linear-gradient(219deg, #6d1487, #f75997, #03d5ec, #b55edd);
    background-size: 800% 800%;

    -webkit-animation: Gradient 33s ease infinite;
    -moz-animation: Gradient 33s ease infinite;
    animation: Gradient 33s ease infinite;
}

@-webkit-keyframes Gradient {
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
@-moz-keyframes Gradient {
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
@keyframes Gradient {
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }

  
}